[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/asterisk"]
	path = cookbooks/asterisk
	url = git://github.com/mojolingo/asterisk-cookbook.git
[submodule "cookbooks/freeswitch"]
	path = cookbooks/freeswitch
	url = https://github.com/mojolingo/freeswitch-cookbook.git
