[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/asterisk"]
	path = cookbooks/asterisk
	url = git://github.com/mojolingo/asterisk-cookbook.git
[submodule "cookbooks/freeswitch"]
	path = cookbooks/freeswitch
	url = https://github.com/mojolingo/freeswitch-cookbook.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/prism"]
	path = cookbooks/prism
	url = https://github.com/mojolingo/prism-chef.git
[submodule "cookbooks/rayo"]
	path = cookbooks/rayo
	url = https://bitbucket.org/voxeolabs/rayo-chef.git
[submodule "cookbooks/jmxsh"]
	path = cookbooks/jmxsh
	url = https://bitbucket.org/voxeolabs/jmxsh-chef
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/cookbooks/yum.git
